/* Estilos gerais para o corpo da página */
body {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: url('img/academia1.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

/* Adicione uma sombra de sobreexposição ao body */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Cor e opacidade da sobreposição */
    z-index: 0;
}

/* Ajuste para o conteúdo para garantir que esteja acima da sobreposição */
.content, .navbar, .footer {
    position: relative;
    z-index: 1;
}

/* Estilos para a barra de navegação */
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #ff6106;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

/* Estilos para o conteúdo principal */
.content {
    padding: 20px;
}

/* Estilos para o rodapé */
.footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 5em;
}

.footer a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

.footer a:hover {
    color: #ff6106;
}

.contact-info a {
    color: #ff6106;
}

/* Ajustes para a seção de home */
#home {
    font-size: 1.2em;
}

#home div {
    margin: 1em auto;
}

/* Estilos para a seção de formações acadêmicas */
#formacoes {
    background: none;
    padding: 40px 20px;
    border-radius: 10px;
}

#formacoes .card {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
}

#formacoes .card-title {
    font-size: 1.5em;
    font-weight: bold;
}

#formacoes .card-subtitle {
    font-size: 1.2em;
    color: #ff6106;
}

#formacoes .card-text {
    font-size: 1em;
    margin-top: 10px;
}

/* Estilo para as imagens da galeria */
.galeria-img {
    width: 100%;
    height: 30em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 2px solid #ff6106;
}

/* Estilos para o feed do Instagram */
.instagram-feed {
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}

/* Estilos para a seção de contato */
#contact {
    padding: 40px 20px;
    box-shadow: none; /* Remove a sombra */
}

#contact h2, #contact p {
    color: #ffffff;
}

#contact .form-group label {
    color: #ffffff;
}

#contact .form-control {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
}

#contact .btn-primary {
    background-color: #ff6106;
    border: none;
}

#contact .btn-primary:hover {
    background-color: #e55d04;
}


/* Estilo para a barra de navegação responsiva */
@media (max-width: 768px) {
    .navbar-brand img {
        height: 30px;
    }
    .galeria-img {
        height: auto;
    }
    .contact-info video {
        height: auto;
    }
    .instagram-feed {
        height: auto;
    }
}

/* Estilos para a seção de contato */
#contact {
    padding: 40px 20px;
    box-shadow: none; /* Remove a sombra */
}

#contact h2, #contact p {
    color: #ffffff;
}

#contact .form-group label {
    color: #ffffff;
}

#contact .form-control {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
}

#contact .btn-primary {
    background-color: #ff6106;
    border: none;
}

#contact .btn-primary:hover {
    background-color: #e55d04;
}

/* Estilos para a seção de feedbacks */
#feedbacks {
    position: relative;
    z-index: 1;
}

.feedback-card {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin: 0 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback-card .card-text {
    font-style: italic;
}

.feedback-card .card-title {
    font-weight: bold;
    margin-top: 15px;
}

.feedback-card .card-subtitle {
    color: #ff6106;
    margin-top: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ff6106;
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #ffffff;
    color: #ff6106;
}
